.Header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: space-between;
    height: 75vh;
    /* 700px; */
    background-color: white;
  }

  .Container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  @media (max-width:680px) {
    .Header {
        height: 40vh;
    }
    .Container {
        top: 25%;
    }
  }