.img {
    position:relative;
}
.text {
    left: 0;
    position:absolute;
    text-align:center;
    top: 200px;
    width: 100%;
    font-size: 3rem;
}

@media only screen and (min-width:800px) {
    .text {
        left: 0;
        position:absolute;
        text-align:center;
        top: 300px;
        width: 100%;
        font-size: 4rem;
    }
}